body{
  font-family: "Alice";
        font-stretch: semi-expanded;
        font-variant: small-caps;
        font-weight: lighter;
        font-size:large;
}

*{
  font-family: "Alice";
  font-stretch: semi-expanded;
  font-variant: small-caps;
  font-weight: lighter;
  font-size:large;
}

.App{
  background: #f4e8d9 url('https://www.transparenttextures.com/patterns/wood-pattern.png');
}